In [1]:
# Dependencies
import requests
import json
import gmaps
import numpy as np
import pandas as pd

# Google developer API key
from config import gkey

In [2]:
# import the data we will use to analyze shops
shop_df = pd.read_csv("Resources/MedicallyEndorsedRetailers.csv", encoding="utf-8")

# Visualize
shop_df.dropna(how='all')
shop_df.head()

,License,UBI,Tradename,Privilege,Status,Med Privilege Code,Termination Code,Street Adress,Suite Rm,City,State,County,Zip Code,Date Created,Day Phone,Email
0,415470,6.029980e+15,2020 SOLUTIONS,MARIJUANA RETAILER,ACTIVE (ISSUED),395,,2018 IRON ST STE A,,BELLINGHAM,WA,WHATCOM,982264212,20151012,3603938697,TLOZANO36277@YAHOO.COM
1,413314,6.034150e+15,2020 SOLUTIONS ON THE GUIDE,MARIJUANA RETAILER,ACTIVE (ISSUED),395,,5655 GUIDE MERIDIAN STE A,,BELLINGHAM,WA,WHATCOM,982269722,20151010,3607342020,ACCOUNTING@RETAILBYCHAMPION.COM
2,84154,6.033600e+15,25 TREES,MARIJUANA RETAILER,ACTIVE (ISSUED),395,,3213 S 38TH STE C,,TACOMA,WA,PIERCE,984041094,20180116,2533768562,25treesllc@gmail.com
3,422099,6.035980e+15,365 RECREATIONAL CANNABIS,MARIJUANA RETAILER,ACTIVE (ISSUED),395,,36711 U.S. HIGHWAY 12,,DAYTON,WA,COLUMBIA,983288622,20170926,4259194183,seantherider@hotmail.com
4,423784,6.034300e+15,365 RECREATIONAL CANNABIS,MARIJUANA RETAILER,ACTIVE (ISSUED),395,,17517 15TH AVE NE #B,,SHORELINE,WA,KING,981553801,20160926,4259194183,seantherider@hotmail.com

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [4]:
# Add columns for lat, lng
shop_df["Lat"] = ""
shop_df["Lng"] = ""
shop_df.columns

Index(['License', 'UBI', 'Tradename', 'Privilege', 'Status',
       'Med Privilege Code', 'Termination Code', 'Street Adress', 'Suite Rm',
       'City', 'State', 'County', 'Zip Code', 'Date Created', 'Day Phone',
       'Email', 'Lat', 'Lng'],
      dtype='object')

In [5]:
# remove unnecesary shop information 
shop_df = shop_df[["Tradename","Street Adress","City","State","County","Zip Code","Lat","Lng"]]

# rename columns for typo and better clarity
shop_df = shop_df.rename(columns={"Tradename":"Store Name", "Street Adress":"Address"})
shop_df.tail()

,Store Name,Address,City,State,County,Zip Code,Lat,Lng
284,WASHINGTON O G,5300 17TH AVE NW STE B,SEATTLE,WA,KING,981073815,,
285,WESTERN BUD,11401 RAINIER AVE S,SEATTLE,WA,KING,981783947,,
286,WESTSIDE420 RECREATIONAL,4503 OCEAN BEACH HWY STE 103,LONGVIEW,WA,COWLITZ,986325055,,
287,WHITE RABBIT RETAIL,15928 HWY 99,LYNNWOOD,WA,SNOHOMISH,980870000,,
288,WORLD OF WEED,3202 E PORTLAND AVE,TACOMA,WA,PIERCE,984044929,,

In [6]:
# create a params dict that will be updated with address in each iteration
params = {"key": gkey}

# Loop through the shop_df and run a lat/long search for each address
for index,row in shop_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    address = row["Address"]
    city = row["City"]
    state = row["State"]
    
    # update address key value
    params['address'] = f"{address},{city},{state}"
    
    # make request
    shop_lat_lng = requests.get(base_url, params=params)
    
    # print the url
    # print(shop_lat_lng.url)
    
    #convert to json
    shop_lat_lng = shop_lat_lng.json()
    
    # add lat and lng to df
    shop_df.loc[index, "Lat"] = shop_lat_lng["results"][0]["geometry"]["location"]["lat"]
    shop_df.loc[index, "Lng"] = shop_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [7]:
# Visualize to confirm lat and lng
shop_df.tail()

,Store Name,Address,City,State,County,Zip Code,Lat,Lng
284,WASHINGTON O G,5300 17TH AVE NW STE B,SEATTLE,WA,KING,981073815,47.6674,-122.379
285,WESTERN BUD,11401 RAINIER AVE S,SEATTLE,WA,KING,981783947,47.5009,-122.222
286,WESTSIDE420 RECREATIONAL,4503 OCEAN BEACH HWY STE 103,LONGVIEW,WA,COWLITZ,986325055,46.1625,-122.999
287,WHITE RABBIT RETAIL,15928 HWY 99,LYNNWOOD,WA,SNOHOMISH,980870000,47.8544,-122.292
288,WORLD OF WEED,3202 E PORTLAND AVE,TACOMA,WA,PIERCE,984044929,47.2345,-122.41

In [8]:
# create a list containing all coordinates
coordinates = []

for index,row in shop_df.iterrows():
    coordinates.append([row["Lat"],row["Lng"]])
    
coordinates

[[48.7570594, -122.4659928],
 [48.84634029999999, -122.4863025],
 [47.222817, -122.4788343],
 [46.3111813, -117.9943499],
 [47.7562484, -122.3137876],
 [47.64163139999999, -117.4886216],
 [46.9955685, -122.9069278],
 [47.04852, -122.7954805],
 [47.0044805, -123.4043625],
 [46.1456599, -122.929237],
 [47.04988849999999, -122.9949418],
 [47.04791549999999, -122.7960181],
 [47.0469316, -122.9255023],
 [47.5549709, -122.2901659],
 [47.7465702, -122.3459965],
 [47.8226234, -122.2064337],
 [46.061236, -118.346435],
 [46.5691867, -122.2669023],
 [48.1754335, -117.7254443],
 [47.7391728, -122.290312],
 [46.2197696, -119.7845671],
 [47.6743475, -122.1281923],
 [47.554262, -120.6026507],
 [48.46268329999999, -122.5814243],
 [47.1243041, -119.2904331],
 [47.7069133, -117.1169724],
 [47.94329200000001, -119.006346],
 [47.541448, -120.560674],
 [47.2438673, -123.0984389],
 [47.6166693, -122.1847115],
 [48.0328516, -122.7641775],
 [47.6568115, -122.6867313],
 [48.3005394, -117.7609423],
 [46.9998379, -122.9183036],
 [47.5161676, -122.3549419],
 [47.4902851, -122.1922963],
 [47.570111, -122.6153023],
 [47.98211389999999, -122.1900329],
 [48.3898861, -122.3352197],
 [47.5526905, -122.386645],
 [46.415522, -117.0452084],
 [47.7154607, -117.4000106],
 [46.9773218, -123.8061903],
 [47.007129, -120.5708597],
 [47.57876659999999, -122.3295278],
 [45.7809217, -122.5575671],
 [47.4331012, -120.324525],
 [47.5180033, -122.2800567],
 [47.1936638, -120.925248],
 [48.1022233, -122.8046345],
 [48.0216967, -122.0544156],
 [48.3999375, -122.3323474],
 [48.84634029999999, -122.4863025],
 [48.4266808, -122.359237],
 [48.3545525, -119.6020632],
 [48.2483406, -120.1160743],
 [48.7397978, -122.4702775],
 [48.011261, -122.7674567],
 [47.6702523, -117.2820522],
 [47.7125201, -117.4107994],
 [47.1844243, -122.4623748],
 [47.6910654, -122.3066274],
 [48.8615165, -122.5851414],
 [48.129739, -120.0041209],
 [47.821402, -117.588613],
 [48.7575963, -122.4651159],
 [48.9757363, -122.7278073],
 [47.0524792, -122.7882262],
 [47.6022381, -122.6284636],
 [47.2497033, -122.4906284],
 [47.994325, -122.8870551],
 [47.5872973, -122.3286261],
 [47.7379128, -122.3456463],
 [48.000312, -119.6601949],
 [46.8259742, -119.1752913],
 [47.25519999999999, -122.471589],
 [47.6623937, -122.3683571],
 [47.05083330000001, -122.7969841],
 [47.8054703, -122.1429743],
 [47.8205636, -122.2070793],
 [47.3535034, -122.1229253],
 [47.8084426, -122.2595721],
 [47.44442369999999, -122.4607979],
 [47.2151665, -123.0973673],
 [46.1664088, -123.3301196],
 [48.0626142, -117.6263568],
 [47.6215586, -122.1833176],
 [47.593651, -122.6136247],
 [47.6548449, -122.6878131],
 [48.5031779, -122.2464918],
 [47.1684923, -122.1421864],
 [46.1647937, -122.9158913],
 [46.1956569, -123.3636067],
 [46.3055595, -124.0408684],
 [48.0123749, -122.5415973],
 [48.4635032, -120.1843509],
 [47.7160157, -122.3456656],
 [47.7999918, -122.3189634],
 [48.4275376, -122.3597629],
 [47.5751749, -122.3347791],
 [47.4470606, -122.830163],
 [47.845363, -121.676726],
 [47.167478, -119.7261739],
 [47.5843895, -122.3337112],
 [47.5572773, -122.0456539],
 [45.6482799, -122.6405813],
 [47.0431184, -122.8571437],
 [47.8690653, -122.2786016],
 [47.0459547, -122.9307216],
 [48.79444549999999, -122.4853725],
 [48.9352269, -122.6668273],
 [47.0049527, -124.1654718],
 [48.3115786, -122.643741],
 [47.6708762, -117.411813],
 [48.924508, -122.0791029],
 [47.6279833, -122.1742792],
 [47.5730975, -122.1683128],
 [47.810782, -122.5392026],
 [47.2715326, -122.5170578],
 [47.7099967, -122.3001799],
 [46.17033, -119.0512423],
 [46.1691965, -119.049285],
 [47.2092388, -118.2262717],
 [46.4152414, -117.0458336],
 [47.6847827, -117.2656295],
 [47.7048156, -122.3547241],
 [46.6677439, -123.7881915],
 [46.6197842, -120.5114785],
 [47.4876527, -122.2590496],
 [47.6128597, -122.3444026],
 [47.6908281, -122.3608591],
 [47.6761716, -122.3653162],
 [48.010414, -122.7661811],
 [48.5550816, -117.9197128],
 [47.5252253, -122.6937658],
 [48.7583743, -122.464501],
 [47.8228221, -122.208061],
 [47.709073, -122.3015244],
 [45.6360354, -122.670681],
 [48.4615886, -122.5569542],
 [47.2498681, -122.4894781],
 [45.6703298, -122.5311292],
 [47.5821467, -122.1347888],
 [47.7128634, -122.1544873],
 [47.66710519999999, -122.6934779],
 [47.553906, -122.6595265],
 [47.86522799999999, -122.2820299],
 [48.0093489, -122.5268901],
 [48.31616030000001, -122.6320457],
 [48.0754194, -123.1343693],
 [46.93574160000001, -122.5932628],
 [46.12380460000001, -122.942524],
 [46.12380460000001, -122.942524],
 [47.5328354, -122.5948008],
 [47.6828934, -122.181933],
 [47.75712739999999, -122.3137614],
 [47.89160220000001, -122.2852599],
 [47.8973055, -122.2904909],
 [47.8555488, -122.2909547],
 [47.94088730000001, -122.2170939],
 [47.8781407, -122.2695068],
 [47.5157725, -122.6314371],
 [46.1320419, -122.9380843],
 [46.9974107, -122.8199886],
 [47.0535112, -122.7831953],
 [47.76154460000001, -117.3899996],
 [47.656261, -117.4288161],
 [45.7131524, -121.4628957],
 [47.8831469, -122.2638992],
 [46.80354519999999, -123.0113868],
 [47.35846859999999, -122.1254755],
 [45.62373410000001, -122.5863594],
 [47.1241582, -119.2919365],
 [47.2549928, -122.4752342],
 [48.12198, -123.4439557],
 [46.7198595, -117.1645747],
 [47.15864500000001, -122.037511],
 [46.3308771, -124.0535759],
 [48.1049566, -123.3702201],
 [47.1016402, -122.43531],
 [48.0791445, -123.1204084],
 [47.221889, -122.4334793],
 [47.6269322, -117.3697479],
 [47.50517, -122.3340007],
 [47.6432569, -117.5763396],
 [46.25698300000001, -119.341083],
 [47.3891193, -122.8266601],
 [47.6172918, -122.3263489],
 [47.15098829999999, -122.3576051],
 [46.952346, -122.92868],
 [47.6823148, -117.2784547],
 [47.7002527, -122.3443246],
 [48.7024029, -122.9174239],
 [47.5683956, -122.6535006],
 [47.6803888, -122.5413753],
 [47.7920411, -122.2335724],
 [47.612676, -122.3007858],
 [47.6612898, -122.3503879],
 [48.3415941, -122.3407765],
 [47.8544648, -122.2902788],
 [47.8659554, -122.2811755],
 [47.7987809, -122.3198071],
 [47.899345, -122.2925961],
 [47.7231021, -117.4118954],
 [48.4145634, -119.5286079],
 [47.68539089999999, -117.2626122],
 [47.74196, -117.4120199],
 [48.7474274, -122.4822632],
 [48.14946980000001, -117.1143871],
 [48.10463739999999, -123.376383],
 [47.6525531, -122.3547177],
 [46.4158653, -117.0445537],
 [47.9982044, -117.5720202],
 [47.9904769, -122.890615],
 [47.6684582, -122.379476],
 [47.66390089999999, -122.3700227],
 [47.717471, -122.3454723],
 [47.7060796, -122.3550688],
 [48.627179, -118.123448],
 [48.46311799999999, -122.335121],
 [47.20508479999999, -123.0983158],
 [48.795831, -122.5260332],
 [48.1115377, -123.4117953],
 [47.7410917, -117.4136898],
 [47.93752740000001, -122.1979142],
 [46.5471918, -120.4750534],
 [46.560332, -120.4768413],
 [46.798126, -123.012501],
 [47.3895438, -122.6723325],
 [46.97334960000001, -123.6913516],
 [48.4470368, -122.4300724],
 [46.6058363, -120.4916316],
 [48.1052754, -123.3734375],
 [46.9963556, -122.8065851],
 [47.221992, -122.4733255],
 [47.8946188, -122.2530876],
 [47.0509658, -122.7918791],
 [47.0499179, -122.9998408],
 [47.0464423, -122.8526947],
 [46.9746858, -123.88382],
 [45.6416597, -121.9830792],
 [47.6244123, -122.6294901],
 [47.223123, -122.4660063],
 [46.9758547, -120.5408827],
 [47.1482863, -122.3565554],
 [47.2434822, -122.3581332],
 [47.1390218, -122.4340776],
 [47.0586257, -122.4046655],
 [47.1027386, -119.3125996],
 [47.4041143, -120.2888846],
 [47.528674, -120.4885804],
 [47.43895200000001, -120.3235071],
 [46.8510788, -122.8590963],
 [47.23474179999999, -122.501768],
 [45.6659441, -122.63694],
 [48.1063644, -123.3662909],
 [48.75488420000001, -122.4644574],
 [47.4444793, -120.3280783],
 [47.47428350000001, -122.3342111],
 [48.5060698, -122.3365496],
 [47.1900471, -122.4828926],
 [47.6270659, -122.1676481],
 [48.7582703, -122.4626084],
 [47.61829530000001, -122.3254738],
 [48.042249, -119.692651],
 [47.4495896, -122.8279578],
 [47.2802355, -122.2282712],
 [47.6435253, -117.5604765],
 [47.0441909, -124.1563736],
 [47.7585551, -122.2563195],
 [47.2024242, -123.0912699],
 [47.6418192, -117.5711677],
 [48.7061716, -119.4439838],
 [48.7838311, -122.443429],
 [47.6951056, -117.2106138],
 [48.7369656, -122.469642],
 [46.9658792, -123.8030324],
 [47.6131353, -122.3016858],
 [47.5149111, -122.3533367],
 [47.2398658, -122.4351338],
 [47.58467290000001, -122.3336268],
 [48.84382, -122.2876545],
 [46.06144010000001, -118.3520478],
 [46.0683353, -118.3615458],
 [47.6673783, -122.378643],
 [47.5009198, -122.222119],
 [46.1625103, -122.9986781],
 [47.8543599, -122.2916248],
 [47.2345257, -122.4097823]]

In [29]:
# Customize the size of the figure
figure_layout = {
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto',
}

# Plot the map
fig = gmaps.figure(layout=figure_layout)

# Create a layer
store_layer = gmaps.symbol_layer(coordinates, 
                                 fill_color='rgba(0,150,0,0.4)',
                                 stroke_color='rgba(0,0,150,0.4)',
                                scale=2,)

# Add the layer to the map
fig.add_layer(store_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px'))

In [53]:
# Import sorted crime data to plot heatmap of crime data
crime_df = pd.read_csv("Resources/df_crime_sorted_Total.csv")
#crime_df = crime_df.drop(crime_df.columns[[0]], axis = 1, inplace=True)

crime_df.head()

,Unnamed: 0,Year,County,JRN_TOTAL,NIB_TOTAL,Total Population,Total Crime,Crime %
0,22,2012,ADAMS,0,1915,19050,1915,10.05
1,23,2013,ADAMS,159,1971,19200,2130,11.09
2,24,2014,ADAMS,162,1960,19400,2122,10.94
3,25,2015,ADAMS,163,1607,19410,1770,9.12
4,26,2016,ADAMS,127,1398,19510,1525,7.82

In [54]:
# drop unamed column
crime_df = crime_df.drop(columns="Unnamed: 0")

In [62]:
crime_2016 = crime_df[crime_df["Year"] == 2016]

# Add Lat and Lng columns
crime_2016["Lat"] = ""
crime_2016["Lng"] = ""

# Reset index
crime_2016 = crime_2016.reset_index(drop=True)

crime_2016

/Users/Kenneth/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/Kenneth/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Year,County,JRN_TOTAL,NIB_TOTAL,Total Population,Total Crime,Crime %,Lat,Lng
0,2016,ADAMS,127,1398,19510,1525,7.82,,
1,2016,ASOTIN,72,1439,22150,1511,6.82,,
2,2016,BENTON,1016,10870,190500,11886,6.24,,
3,2016,CHELAN,235,3756,75910,3991,5.26,,
4,2016,CLALLAM,165,4359,73410,4524,6.16,,
5,2016,CLARK,692,20517,461010,21209,4.60,,
6,2016,COLUMBIA,0,211,4050,211,5.21,,
7,2016,COWLITZ,437,7616,104850,8053,7.68,,
8,2016,DOUGLAS,113,1795,40720,1908,4.69,,
9,2016,FERRY,0,25,7700,25,0.32,,
10,2016,FRANKLIN,381,4933,88670,5314,5.99,,
11,2016,GARFIELD,2,167,2200,169,7.68,,
12,2016,GRANT,300,7155,94610,7455,7.88,,
13,2016,GRAYS HARBOR,140,4440,72820,4580,6.29,,
14,2016,ISLAND,68,2050,82910,2118,2.55,,
15,2016,JEFFERSON,61,1180,31090,1241,3.99,,
16,2016,KING,2207,141674,2105100,143881,6.83,,
17,2016,KITSAP,267,14499,262590,14766,5.62,,
18,2016,KITTITAS,71,2270,43710,2341,5.36,,
19,2016,KLICKITAT,26,592,21270,618,2.91,,
20,2016,LEWIS,245,4592,76890,4837,6.29,,
21,2016,LINCOLN,17,364,10640,381,3.58,,
22,2016,MASON,47,3192,62320,3239,5.20,,
23,2016,OKANOGAN,62,1285,41730,1347,3.23,,
24,2016,PACIFIC,24,612,21180,636,3.00,,
25,2016,PEND OREILLE,20,667,13290,687,5.17,,
26,2016,PIERCE,1536,71961,844490,73497,8.70,,
27,2016,SAN JUAN,11,331,16320,342,2.10,,
28,2016,SKAGIT,343,10336,122270,10679,8.73,,
29,2016,SKAMANIA,6,187,11500,193,1.68,,
30,2016,SNOHOMISH,1404,46965,772860,48369,6.26,,
31,2016,SPOKANE,305,19324,492530,19629,3.99,,
32,2016,STATE,12148,448677,7183700,460825,6.41,,
33,2016,STEVENS,9,1579,44100,1588,3.60,,
34,2016,THURSTON,380,16366,272690,16746,6.14,,
35,2016,WAHKIAKUM,2,137,4000,139,3.48,,
36,2016,WALLA WALLA,100,4387,60730,4487,7.39,,
37,2016,WHATCOM,315,14348,212540,14663,6.90,,
38,2016,WHITMAN,53,1385,47940,1438,3.00,,
39,2016,YAKIMA,889,19713,250900,20602,8.21,,

In [81]:
lat2016 = []
lng2016 = []

In [89]:
# create a params dict that will be updated with address in each iteration
params = {"key": gkey}

# Loop through the shop_df and run a lat/long search for each address
for index,row in crime_2016.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    county = row["County"]
    
    # update address key value
    params['address'] = f"{county}+COUNTY,Washington"
    
    # make request
    county_lat_lng = requests.get(base_url, params=params)
    
    # print the url
    # print(county_lat_lng.url)
    
    #convert to json
    county_lat_lng = county_lat_lng.json()
    
    # add lat and lng to df
    crime_2016.loc[index, "Lat"] = county_lat_lng["results"][0]["geometry"]["location"]["lat"]
    crime_2016.loc[index, "Lng"] = county_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [91]:
# Visualize df to see coordinates
crime_2016.tail()

,Year,County,JRN_TOTAL,NIB_TOTAL,Total Population,Total Crime,Crime %,Lat,Lng
35,2016,WAHKIAKUM,2,137,4000,139,3.48,46.3259,-123.495
36,2016,WALLA WALLA,100,4387,60730,4487,7.39,46.237,-118.585
37,2016,WHATCOM,315,14348,212540,14663,6.90,48.8787,-121.972
38,2016,WHITMAN,53,1385,47940,1438,3.00,46.8363,-117.589
39,2016,YAKIMA,889,19713,250900,20602,8.21,46.5436,-120.756

In [114]:
# Create a crime rate Heatmap layer
fig = gmaps.figure()

# Store 'Lat' and 'Lng' into locations
locations = crime_2016[["Lat","Lng"]].astype(float)

#Convert crime rate % to float and Store
crime_rate = crime_2016["Crime %"].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=crime_rate,
                                dissipating=False, max_intensity=10,
                                point_radius=0.7)

#Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 10
heat_layer.point_radius = 0.7

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [115]:
# combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(store_layer)

fig

Figure(layout=FigureLayout(height='420px'))