In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#Total WA sales by calendar year
revenue = "2014_to_2016_WA_revenue.csv"

revenue_df = fy2015_df = pd.read_csv(revenue)

In [3]:
revenue_df.tail()

           Date       Sales  Excise Tax Due  Sales (Shelf Price)
940  12/27/2016  3324831.99       752106.45           4076938.44
941  12/28/2016  3452036.10       797870.30           4249906.40
942  12/29/2016  4200475.36       859655.24           5060130.60
943  12/30/2016  5221889.13      1243811.86           6465700.99
944  12/31/2016  3713397.08      1354076.00           5067473.08

In [4]:
#Retail revenue broken down by FY and county
fy2015_retail_revenue = "fy2015_WA_retail_revenue_by_county.csv"
fy2016_retail_revenue = "fy2016_WA_retail_revenue_by_county.csv"
fy2017_retail_revenue = "fy2017_WA_retail_revenue_by_county.csv"

fy2015_df = pd.read_csv(fy2015_retail_revenue)
fy2016_df = pd.read_csv(fy2016_retail_revenue)
fy2017_df = pd.read_csv(fy2017_retail_revenue)

In [5]:
fy2016_df

          County         Reporting Period     Total Sales      Excise Tax
0         ASOTIN  07/01/2015 - 06/30/2016     $2,390,504        $884,487
1         BENTON  07/01/2015 - 06/30/2016     $4,970,194      $1,838,972
2         CHELAN  07/01/2015 - 06/30/2016     $4,801,762      $1,776,652
3        CLALLAM  07/01/2015 - 06/30/2016     $5,217,200      $1,930,364
4          CLARK  07/01/2015 - 06/30/2016    $46,119,692     $17,064,286
5        COWLITZ  07/01/2015 - 06/30/2016     $9,996,138      $3,698,571
6        DOUGLAS  07/01/2015 - 06/30/2016     $1,697,135        $627,940
7          FERRY  07/01/2015 - 06/30/2016       $417,800        $154,586
8       FRANKLIN  07/01/2015 - 06/30/2016       $123,213         $45,589
9          GRANT  07/01/2015 - 06/30/2016     $3,715,477      $1,374,727
10  GRAYS HARBOR  07/01/2015 - 06/30/2016     $6,323,625      $2,339,741
11        ISLAND  07/01/2015 - 06/30/2016     $5,730,021      $2,120,108
12     JEFFERSON  07/01/2015 - 06/30/2016     $3,166,035      $1,171,433
13          KING  07/01/2015 - 06/30/2016   $151,410,618     $56,021,929
14        KITSAP  07/01/2015 - 06/30/2016    $17,676,959      $6,540,475
15      KITTITAS  07/01/2015 - 06/30/2016     $3,916,745      $1,449,196
16     KLICKITAT  07/01/2015 - 06/30/2016     $2,201,608        $814,595
17         LEWIS  07/01/2015 - 06/30/2016     $2,046,272        $757,121
18         MASON  07/01/2015 - 06/30/2016     $3,845,385      $1,422,792
19      OKANOGAN  07/01/2015 - 06/30/2016     $1,802,025        $666,749
20       PACIFIC  07/01/2015 - 06/30/2016       $843,072        $311,937
21        PIERCE  07/01/2015 - 06/30/2016    $49,237,907     $18,218,025
22      SAN JUAN  07/01/2015 - 06/30/2016       $657,733        $243,361
23        SKAGIT  07/01/2015 - 06/30/2016    $10,921,346      $4,040,898
24      SKAMANIA  07/01/2015 - 06/30/2016       $989,665        $366,176
25     SNOHOMISH  07/01/2015 - 06/30/2016    $49,863,558     $18,449,517
26       SPOKANE  07/01/2015 - 06/30/2016    $57,661,699     $21,334,829
27       STEVENS  07/01/2015 - 06/30/2016     $1,979,308        $732,344
28      THURSTON  07/01/2015 - 06/30/2016    $19,392,493      $7,175,222
29   WALLA WALLA  07/01/2015 - 06/30/2016     $3,132,660      $1,159,084
30       WHATCOM  07/01/2015 - 06/30/2016    $17,327,386      $6,411,133
31       WHITMAN  07/01/2015 - 06/30/2016     $5,284,628      $1,955,312
32        YAKIMA  07/01/2015 - 06/30/2016     $7,113,948      $2,632,161
33           NaN                      NaN             NaN             NaN
34           NaN                    Total   $501,973,814    $185,730,311